npm start# ==============================
# Spring Boot / Java
# ==============================

target/
*.log
*.class
*.jar
*.war

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# ==============================
# React / Node
# ==============================

node_modules/
dist/
build/
coverage/

# Vite
.vite/

# ==============================
# Environment Variables
# ==============================

.env
.env.local
.env.development.local
.env.production.local

# ==============================
# IDE Files
# ==============================

.idea/
.vscode/
*.iml

# ==============================
# OS Files
# ==============================

.DS_Store
Thumbs.db


#===============================
# uploads
#=============================
uploads/*